{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="{% static 'app_postit/css/normalize.css' %}">
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <title>{% block title %} {% endblock %}Leave-it-Cafe</title>
</head>
<body>
    <div class="button">
        <a href="{% url 'home' %}">
        <img src="{% static 'app_cafe/image/homebut1.PNG' %}" alt="Card Back" class="backb">
        <img src="{% static 'app_cafe/image/homebut2.PNG' %}" class="frontb" alt="Card frontb">
        </a>
    </div>
    {% if user.is_authenticated %}
    <div class="header">
        <div class="bg-header">
            <a href="{% url 'profile' %}">{{ user.username }}</a>
        </div>
        <div class="bg-header">
            <a href="{% url 'logout' %}">logout</a>
        </div>
    </div>
    {% else %}
    <div class="header">
        <div class="bg-header right">
            <a href="{% url 'login' %}">login</a>
        </div>
    </div>
    {%  endif %}
    {% block content %} {% endblock %}
</body>
</html>
