{% extends 'app_home/components/template.html' %}
{% load static %}

{% block title %}เปลี่ยนรหัสผ่านสำเร็จ | {% endblock %}

{% block content %}
    <div class="container fullpage">
        <div class="content-container">
            <div class="content">
                <img src="{% static 'app_home/image/done-head.PNG' %}" class="image change-done" id="logo_home">
                <a href="{% url 'profile' %}" class="button_enter"><img src="{% static 'app_home/image/done-button.PNG' %}" class="image button_image done_size"></a>
            </div>
        </div>
    </div>

{% endblock %}
