{% extends 'app_home/components/template.html' %}
{% load static %}

{% block title %}เปลี่ยนรหัสผ่าน | {% endblock %}

{% block content %}
<div class="container">
    <div>
        <img class="headbox " src="{% static 'app_home/image/head.PNG' %}" alt="box">
    </div>
            <form action="{% url 'password_change' %}" method="post">
                {% csrf_token %}
                <div class="beforepass">
                    <img class="title" src="{% static 'app_home/image/title1.PNG' %}" >
                    <img class="bank" src="{% static 'app_home/image/bank.PNG' %}" >
                    <div class="textbox">
                        {{ form.new_password1 }}
                        {{ form.new_password1.errors }}
                    </div>
                </div>
                <div class="afterpass">
                    <img class="title2" src="{% static 'app_home/image/title2.PNG' %}" >
                    <img class="bank2" src="{% static 'app_home/image/bank.PNG' %}" >
                    <div class="textbox2">
                        {{ form.new_password2 }}
                        {{ form.new_password2.errors }}
                    </div>
                </div>
                <div>
                    <img class="boxinf" src="{% static 'app_home/image/box.PNG' %}" alt="">
                </div>
                <div class="confpass">
                    <img class="title3" src="{% static 'app_home/image/title3.PNG' %}" >
                    <img class="bank3" src="{% static 'app_home/image/bank.PNG' %}" >
                    <div class="textbox3">
                        {{ form.new_password2 }}
                        {{ form.new_password2.errors }}
                    </div>
                </div>
                <div class="button1">
                    <button type="submit" style="background: none; border: none; cursor: pointer; margin-top: 580px; margin-left: 800px;"><img src="{% static 'app_home/image/button1.PNG' %}" class="stylebutton"></button>
                </div>
            </form>
    </div>
{% endblock %}
