{% extends 'app_postit/components/template.html' %}

{% block title %}Board | {% endblock %}

{% block content %}
<h1>board</h1>
<div><a href="{% url 'writepost' %}">Writepost</a></div>
<a href="{% url 'cafe' %}">Café</a>
<a href="{% url 'home' %}">Home</a>
    {% for post in all_post %}
    <p>--------------------</p>
    <div><a href="{% url 'postit' post.id %}">
        {% if post.from_someone %}
            <p>From : {{ post.from_someone }}</p>
        {% endif %}
        
        {% if post.to_someone %}
            <p>To : {{ post.to_someone }}</p>
        {% endif %}

        {% if not post.from_someone and not post.to_someone %}
            <p>message : {{ post.message }}</p>
        {% endif %}

        {% if post.from_someone and not post.to_someone %}
            <p>message : {{ post.message }}</p>
        {% endif %}

        {% if not post.from_someone and post.to_someone %}
            <p>message : {{ post.message }}</p>
        {% endif %}
    </a></div>
    {% endfor %}
{% endblock %}

