{% extends 'app_cafe/components/template.html' %}
{% load static %}

{% block content %}
    <div class="container fullpage">
        <div class="content-container">
            <div class="grid">
                <div><img class="image logo" src="{% static 'app_cafe/image/LOGO.PNG' %}" alt=""></div>
                <div></div>
                <div>
                    <img class="image typing" src="{% static 'app_cafe/image/livetyping.PNG' %}" alt="">
                    <div class="outbox" id="Middle">
                        <div id="display"></div>
                    </div>
                    <div class="typeboxdiv">
                        <form id="post-form">
                            {% csrf_token %}
                            <input type="hidden" name="displayname" id="displayname" value="{{displayname}}">
                            <input class="typebox" type="text" size="60" width="100" height="100" placeholder="Type here..." id="message" autocomplete="off">
                            <input type="submit" value="SEND!!!" class="buttons">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
        
        setInterval(function(){
            $.ajax({
                type: 'GET',
                url : "/cafe/getmessages",
                success: function(response){
                    console.log(response);
                    $("#display").empty();
                    for (var key in response.messages)
                    {
                        var temp="<div><p>"+response.messages[key].displayname+" : "+response.messages[key].text+"</p></div>";
                        $("#display").append(temp);
                    }
                },
                error: function(response){
                    alert('An error occured')
                }
            });
        },1000);
        })
    </script>

    <script>
        $(document).on('submit','#post-form',function(e){
            e.preventDefault();

            $.ajax({
                type:'POST',
                url:'/cafe/send',
                data:{
                    displayname:$('#displayname').val(),
                    message:$('#message').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function(data){
                    // alert(data)
                }
            });
            document.getElementById('message').value = ''
            });
    </script>
    <script>
        var div = document.getElementById("Middle");
        div.scrollTop = div.scrollHeight;
    </script>
{% endblock %}
