{% extends 'app_home/components/template_home.html' %}
{% load static %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.0.js"></script>
{% endblock %}

{% block content %}
    <div class="container fullpage-home">
        <div class="content-container-home">
            <img src="{% static 'app_home/image/logo.PNG' %}" class="image logo_image" id="logo_home">
            <a href="{% url 'choose-one' %}" class="button_enter"><img src="{% static 'app_home/image/button.PNG' %}" class="image button_image enter-size"></a>
        </div>
    </div>
    
    <script>
        $( "#logo_home" ).fadeIn();
    </script>
{% endblock %}
