{% extends 'app_home/components/template_nocss.html' %}
{% load static %}
{% load widget_tweaks %}

{% block css %}
    <link rel="stylesheet" href="{% static 'app_home/css/profile.css' %}">
{% endblock %}

{% block title %}Profile | {% endblock %}

{% block content %}
<div class="container fullpage">
    <div class="content-container">
        <div class="meow">
            <img class="meowpic" src="{% static 'app_home/image/profile/meow.PNG' %}">
        </div>
        <div class="prodiv">
            <h3 class="protext">Profile : {{ user.username }}</h3>
        </div>
        <form action="{% url 'profile' %}" method="post">
            {% csrf_token %}
            <div class="disdiv">
                <img class="dispic" src="{% static 'app_home/image/profile/displayname.PNG' %}" alt="">
            </div>
            <div class="b1">
                <img class="b1pic" src="{% static 'app_home/image/profile/blank.PNG' %}">
            </div>
            <div class="typeboxdiv">
                {{ extend.displayname|add_class:'typebox' }}
                {{ extend.displayname.errors }}
            </div>
            <div class="maildiv">
                <img class="mailpic" src="{% static 'app_home/image/profile/email.PNG' %}">
            </div>
            <div class="b2">
                <img class="b2pic" src="{% static 'app_home/image/profile/blank.PNG' %}">
            </div>
            <div class="typeboxdiv2">
                {{ form.email|add_class:'typebox' }}
                {{ form.email.errors }}
            </div>
            <div class="changepass">
                <a href="{% url 'password_change' %}"><img class="cppic" src="{% static 'app_home/image/profile/chagepass.PNG' %}"></a>
            </div>
            <div class="save">
                <button type="submit" style="background: none; border: none; cursor: pointer;">
                    <img class="savepic" src="{% static 'app_home/image/profile/save.PNG' %}">
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

