{% extends 'app_home/components/template.html' %}

{% block title %}Register | {% endblock %}

{% block content %}
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div style="margin-bottom: 16px;">
            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.username.errors }}
        </div>
        <div style="margin-bottom: 16px;">
            <label>Displayname:</label>
            {{ form.first_name }}
            {{ form.first_name.errors }}
        </div>
        <div style="margin-bottom: 16px;">
            {{ form.password1.label_tag }}
            {{ form.password1 }}
            {{ form.password1.errors }}
        </div>
        <div style="margin-bottom: 16px;">
            {{ form.password2.label_tag }}
            {{ form.password2 }}
            {{ form.password2.errors }}
        </div>
        <div>
            <button type="submit">SEND!!!</button>
        </div>
    </form>
    <p><a href="{% url 'board' %}">back</a></p>
{% endblock %}

